<footer>
    <footer class="text-muted">
      <div class="container">
        <p>Todos los derechos Reservados por el Instituto Nacional Isekais Harem © Bootstrap, si tienes algun problema contactanos mediante nuestras redes sociales! Hecho por {{nombre}} ({{anio}}).</p>
        <p>Quieres unirtenos? <a href="https://getbootstrap.com/docs/4.0/">Unetos pulsando aqui</a> o envianos un correo <a href="https://getbootstrap.com/docs/4.0/getting-started/">a este enlace</a>.</p>
      </div>
    </footer>
</footer>
