<!DOCTYPE html>
<html lang="en">

    {{> head }}

<body>
    {{> title}}

    <main role="main">
      
      <section class="jumbotron text-center" style="background-image: url(https://cdn.wccftech.com/wp-content/uploads/2018/01/download-galaxy-s9-wallpaper-e1517955772388-2060x1132.jpeg);">
        <div class="container">
          <h1 class="jumbotron-heading" style="color: cornsilk;">TU BIBLIOTECA DESDE CASA</h1>
          <p class="lead" style="color: cornsilk;">En este apartado conoceras sobre nosotros.</p>
        </div>
      </section>

      <div class="container marketing">
        <div class="container"><p style="font-size: xx-large; color:darkgray">Nuestro equipo</p></div>
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/1/14/Mark_Zuckerberg_F8_2018_Keynote_%28cropped_2%29.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Mark Zuckerberg</h2>
            <p>Mark Elliot Zuckerberg (White Plains, Estados Unidos; 14 de mayo de 1984), conocido como Mark Zuckerberg, es un programador y empresario estadounidense, uno de los creadores y fundadores de Facebook. </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://rotary2201.org/wp-content/uploads/2019/03/XpgonN0X_400x400.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Bill Gates</h2>
            <p>William Henry Gates III, ​ conocido como Bill Gates, es un multimillonario magnate empresarial, informático y filántropo​ estadounidense, cofundador de la empresa de software Microsoft junto con Paul Allen.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/AOh14GiJtULFWtc4gqAm6qa5WrOScK1zi4I-9BOScoDPWA=s360-c" alt="Generic placeholder image" width="140" height="140">
            <h2>Brucce Villena</h2>
            <p>Brucce Villena tambien conocido como TheWogk es el principal fundador de esta asombrosa librerira, ganador dos veces al premio nobrel de la paz, multimillonario, informático, introvertido, programador peruano.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Mision. <span class="text-muted">Como cambiaremos al mundo.</span></h2>
            <p class="lead">Organizar la información del mundo para que todos puedan acceder a ella y usarla.
            Cuando tienes una pregunta ¿qué es lo primero qué haces? Tú y otros millones de personas acuden al mismo lugar para encontrar la respuesta: Google. Larry Page, su cofundador y CEO, describió una vez el motor de búsqueda perfecto como algo capaz de entender lo que quieres y ofrecerte exactamente lo que necesitas.
            En consecuencia, trabajan para comprender mejor la intención de la gente al usar su buscador, al mismo tiempo que actualizan sus algoritmos para ofrecer la información más relevante y útil.
            Esta compañía centra sus acciones en el usuario, ya que sabe que no hay crecimiento posible sin un servicio y usabilidad excelentes, a la vez que se ve a sí misma como un líder tecnológico.
            Otro de los enfoques de esta misión es llevar productos confiables, revolucionarios y de calidad alta, lo que la posiciona como una marca de gran atracción. Así, no tienen usuarios, sino seguidores que refuerzan el proceso publicitario.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://www.10wallpaper.com/wallpaper/1366x768/1708/Mission_to_the_moon-Universe_HD_Wallpapers_1366x768.jpg" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Nuestra Vision. <span class="text-muted">Como vemos al mundo.</span></h2>
            <p class="lead">
                Cuestionar la hipótesis. Pensar en profundidad. La repetición como un estilo de vida. Detalles y más detalles. El diseño en todas partes. Integridad.
                En la actualidad, parece que todas las páginas de empresas B2B son idénticas. Sin embargo, InvisionApp tiene una de las mejores páginas comerciales que verás. Si vas a la página de la empresa y te desplazas hasta la sección «nuestros valores fundamentales», coloca el cursor sobre cada uno de los símbolos y encontrarás un breve fragmento de su misión general.
                Cada descripción es breve, auténtica y no contiene lenguaje técnico complejo, lo que ayuda a pensar que InvisionApp es una empresa directa y de confianza.
                Google es una de las grandes empresas del siglo XXI, y eso no es casualidad. Controlar y hacer disponible toda la información del mundo es una labor que parece imposible; sin embargo, es ahí donde el líder tecnológico quiere llegar.
                Es una declaración concisa y ambiciosa, a la vez que tiene un efecto fuerte y emocionante.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="http://k35.kn3.net/taringa/2/4/1/9/1/2/30/dj-tavor/2C7.jpg?820" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Y la ultima, eso es. <span class="text-muted">Anuncio.</span></h2>
            <p class="lead">
                booknet .net) Se agregó la lista anticontaminada si el producto minorista es un artículo anterior a la guerra, los ingredientes no son contrabando y la versión comercial está disponible.
                [02/02/2013 - 11:21:43 PM] [** SPLUG - Beta 2.0.0.4 - Pre-Release] Elimina el paquete preestablecido de la carpeta de paquetes de voz bajo demanda DLC.
                [02/02/2013 - 11:21:57 PM] [** SPLUG - Beta 2.0.0.4 - Prelanzamiento] Se corrigió el menú "haga clic en este elemento" para mostrar solo elementos en el DLC que no se reproducen o se encuentran en paquetes.
                www.bookshop.net Bookit Modz - Bookshop Modz - Oficinas en Astoria, Mill Basin, Oakwood, Cobble Hill y una lista de mercados secundarios.
                60 Hoxton, Fl, www.bookitmodz.com
                www.bookitmodz.com Bookit by Official Online Retailer - Book Shop, Big Bookstore, ComiXology, Amazon, Barnes & Noble, IOS App, Cogentina Bookstore, BooksCan y muchos más.
                St. James Place, Hoxton, www.bookitbookshop.com
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="http://journalvallesdigital.opennemas.com/media/journalvallesdigital/images/2019/05/01/2019050117265524937.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">
      </div>
    </main>    
</body>

    {{> footer}}

</html>