<!DOCTYPE html>
<html lang="en">

    {{> head }}

<body>

    {{> title }}

    <main role="main">

      <section class="jumbotron text-center" style="background-image: url(https://cdn.wccftech.com/wp-content/uploads/2018/01/download-galaxy-s9-wallpaper-e1517955772388-2060x1132.jpeg);">
        <div class="container">
          <h1 class="jumbotron-heading" style="color: cornsilk;">TU BIBLIOTECA DESDE CASA</h1>
          <p class="lead" style="color: cornsilk;">Lo mejor de leer mucho es que puedes ver mas allá de lo que la gente que no lee puede ver.</p>
          <p>
            <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-primary my-2">Audiolibros</a>
            <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-secondary my-2">eBooks</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="container"><p style="font-size: xx-large; color:darkgray">Libros</p></div>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 525px; width: 100%; display: block;" src="https://static7planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/307/m_libros/portada_el-heredero_rafael-tarradas-bulto_201911041200.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        Un majestuoso landó avanza en dirección a la imponente finca de los Marqués. Con tan solo siete años, la pequeña Josefa entra a trabajar como sirvienta en la casa, incapaz de imaginar cómo su presencia cambiará para siempre la historia de dos poderosas familias.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://static8planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/308/m_libros/portada_km-123_andrea-camilleri_201911041822.jpg" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        La novela arranca con un móvil apagado. Ester es la que llama; quien no responde, Giulio, que acaba de ser trasladado al hospital en estado grave a causa de un accidente en el kilómetro 123 de la Via Aurelia de Roma.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://static8planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/308/m_libros/portada_contra-los-zombis_paul-krugman_201911141315.jpg" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        Nadie como Paul Krugman para acercarnos a los principales conceptos económicos y las ideas que mueven gran parte de nuestras políticas públicas y para explicar con lucidez problemas económicos a menudo confusos.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          <div class="container"><p style="font-size: xx-large; color:darkgray">Novelas</p></div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://static0planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/300/m_libros/portada_la-vida-te-esta-esperando_javier-iriondo-narvaiza_201907091542.jpg" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        Sofía es una mujer de mediana edad dedicada intensamente a su vida profesional. Tras sufrir un desmayo frente a un gran grupo de personas cuando iba a empezar su intervención en un evento público, debe ser ingresada en el hospital. Al día siguiente, le comunican una terrible noticia.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://images-na.ssl-images-amazon.com/images/I/51XGCOWR2TL._SX331_BO1,204,203,200_.jpg" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        En el borde mismo de las líneas del frente se encuentra una niña. Ella tiene cabello dorado, ojos azules y piel pálida, casi translúcida.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://vignette.wikia.nocookie.net/log-horizon/images/9/9d/Lnvol1.jpg/revision/latest?cb=20150827025245" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        Treinta mil jugadores japoneses se despiertan un día para descubrir que el mundo de fantasía de Elder Tales, un MMORPG que anteriormente era su pasatiempo colectivo, se ha convertido en su fría y dura realidad. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          <div class="container"><p style="font-size: xx-large; color:darkgray">Mangas</p></div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://im-pack-yak.inmanga.com/thumbnails/manga/Berserk/5cc13fca-2e10-41e7-bbca-d70353d6a55a" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        Ambientado en una tierra inspirada y con amplias similitudes a Europa Medieval, es donde se cuenta la historia de Gatsu</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://im-pack-yak.inmanga.com/thumbnails/manga/Tales-of-Demons-and-Gods/c42439b0-b877-4e03-8aa0-f41d3848ea1e" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        Nie Li, el más fuerte demonio espiritual, en su vida pasada estuvo en la cima del mundo marcial sin embargo, perdió la vida durante la batalla con Sage Emperador</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://im-pack-yak.inmanga.com/thumbnails/manga/The-Promised-Neverland/df035c49-d49f-4f15-bd2d-4ae9ea94d72d" data-holder-rendered="true" style="height: 525px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text" style="
                        width:100%;
                        height:30px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis">
                        Emma vive en Grace Field House, un orfanato, con otros 38 niños.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
</body>

    {{> footer }}

</html>