<!DOCTYPE html>
<html lang="en">

    {{> head }}

<body>
    {{> title}}
      
      <section class="jumbotron text-center" style="background-image: url(https://cdn.wccftech.com/wp-content/uploads/2018/01/download-galaxy-s9-wallpaper-e1517955772388-2060x1132.jpeg);">
        <div class="container">
          <h1 class="jumbotron-heading" style="color: cornsilk;">TU BIBLIOTECA DESDE CASA</h1>
          <p class="lead" style="color: cornsilk;">En este apartado conoceras sobre nuestros servicios.</p>
        </div>
      </section>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Los servicios que te ofrecemos</h1>
      <p class="lead">
                    Nuestra ubicación principal está en el distrito comercial del centro de Minneapolis, MN.
                    Se han cerrado ubicaciones en Bellevue, Everett y Lakeville, pero estamos trabajando diligentemente para renovar las otras ubicaciones.
                    Para encontrar la ubicación más cercana cerca de usted, simplemente consulte nuestros menús de localización y menú desplegable a continuación.
                    </p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Gratis</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 packs incluidos</li>
              <li>2 GB de almacenamiento privado</li>
              <li>Email de la empresa</li>
              <li>Centro de ayuda</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Registrarse</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Profesional</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 packs incluidos</li>
              <li>10 GB de almacenamiento privado</li>
              <li>Descuentos de primavera</li>
              <li>Acceso anticipado</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Empezar ahora</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Macho pecho peludo</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 packs incluidos</li>
              <li>15 GB de almacenamiento privado</li>
              <li>Todo lo anterior incluido</li>
              <li>Pase a eventos</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Contactanos</button>
          </div>
        </div>
      </div>
    </div>

</body>

    {{> footer}}

</html>